<!dOCTYPE html>
<html lang="en">

<body>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Library</title>
        <!--Imports css files-->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/addform.css')}}" rel="stylesheet">
        <!--Imports favicon file-->
        <link rel="shortcut icon" href="{{url_for('.static', filename='images/favicon.ico')}}">
    </head>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                MENU
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Welcome {{id,role}}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Account
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

     <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <div class="absolute-wrapper"> </div>
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-book"></span> Available Books</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-book"></span> Borrowed Books</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Books
                    <div style="padding:8px;" class="navbar-right" >
                        <a href="" data-toggle="modal" data-target="#addbook-modal"><i class="glyphicon glyphicon-plus"></i>Add Book</a>
                    </div>
                </div>
                <div class="panel-body">
                    {% block body %}{% endblock%}

                </div>
            </div>
        </div>
    </div>
    <div class="addbookbox container modal fade" id="addbook-modal">
        <div style="padding-top:30px" class="panel-body" >
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="signupform" class="form-horizontal" method="POST" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>Close</button>
                        <h3 class="modal-title" id="lineModalLabel">Add Book</h3>
                    </div>
                    <div class="modal-body">
                        <div style="margin-bottom: 25px" class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                           <input type="text" name="title" id="title" class="form-control" placeholder="Book Title">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" name="author" id="author" class="form-control" placeholder="Book Author">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                            <select name="category" id="category" class="form-control">
                                <option>--Select Category--</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Drama">Drama</option>
                                <option value="Crime">Crime</option>
                                <option value="Romance">Romance</option>
                                <option value="SciFi">SciFi</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Self Help/Motivation">Self Help/Motivation</option>
                            </select>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                            <input id="text" type="quantity" class="form-control" name="quantity" placeholder="Number of copies e.g 10">
                        </div>

                        <div style="margin-bottom: 5px" class="form-group">
                            <label style="margin-left: 25px"><i class="glyphicon glyphicon-pencil"></i>
                            Book Prologue</label>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <textarea type="text" cols="200" rows="5" name="prologue" id="prologue" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer-center">
                        <div style="margin-top:5px" class="form-group">
                            <!-- Submit Button -->
                            <div class="col-xs-3 col-md-3" style="text-align:center;"><button id="Register" name="Register" class="btn btn-primary btn-block btn-lg">Add Book</button></div>
                        </div>
                    </div>

                </form>
            </div>
    </div>
    <footer class="text-muted">
        <div class="container center">
          <hr class="divider">
          <p style="text-align:center;">Library &copy;2016 created by Evans Gacheru</p>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
    <script>
        $(function() {
            $('#add_book').click(function() {

                $.ajax({
                    url: '/Addbook',
                    data: $('addbook').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
  </body>
</html>