<!dOCTYPE html>
<html lang="en">

<body onload="Users()">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Library</title>
        <!--Imports css files-->
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/addform.css')}}" rel="stylesheet">
        <!--Imports favicon file-->
        <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    </head>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                MENU
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Welcome
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Account
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

     <div class="container-fluid main-container">
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <div class="absolute-wrapper"> </div>
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                                <li><a id="myBooks"><span class="glyphicon glyphicon-book"></span> Available Books</a></li>
                                <li><a href=""><span class="glyphicon glyphicon-book"></span> Borrowed Books</a></li>
                                <li><a id="myUsers"><span class="glyphicon glyphicon-user"></span> User Accounts</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Books
                    <div style="padding-bottom:8px;" class="navbar-right" >
                        <button id="addbtn"><a><i class="glyphicon glyphicon-plus"></i></a>Add Book</button>
                    </div>
                </div>
                <div class="panel-body">
                    {% block container %}
                    {% endblock%}
                    {% if books %}
                    <table id="books_table"  width="100%" cellpadding="4px" class="table-bordered">
                        <thead>
                            <th style="padding:4px;text-align:center;">No</th>
                            <th style="padding:4px;text-align:center;">Title</th>
                            <th style="padding:4px;text-align:center;">Author</th>
                            <th style="padding:4px;text-align:center;">Prologue</th>
                            <th style="padding:4px;text-align:center;">Category</th>
                        </thead>
                        <tbody>
                        {% for book in books %}
                        <tr>
                            <td style="padding:4px">
                                {{book.id}}
                            </td>
                            <td style="padding:4px">
                                {{book.title}}
                            </td>
                            <td style="padding:4px">
                                {{book.author}}
                            </td>
                            <td style="padding:4px">
                                {{book.prologue}}
                            </td>
                            <td style="padding:4px">
                                {{book.category}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                    {% if users %}
                        <table id="users_table" style="display:none;" width="100%" cellpadding="4px" class="table-bordered">
                            <thead>
                                <th style="padding:4px;text-align:center;">No</th>
                                <th style="padding:4px;text-align:center;">First Name</th>
                                <th style="padding:4px;text-align:center;">Last Name</th>
                                <th style="padding:4px;text-align:center;">Username</th>
                                <th style="padding:4px;text-align:center;">Email</th>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td style="padding:4px">
                                    {{user.id}}
                                </td>
                                <td style="padding:4px">
                                    {{user.first_name}}
                                </td>
                                <td style="padding:4px">
                                    {{user.last_name}}
                                </td>
                                <td style="padding:4px">
                                    {{user.username}}
                                </td>
                                <td style="padding:4px">
                                    {{user.email}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <footer class="text-muted">
        <div class="container center">
          <hr class="divider">
          <p style="text-align:center;">Library &copy;2016 created by Evans Gacheru</p>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script>
     $(document).ready(function(){
            $(function(){
                $('#addbookbtn').click(function() {
                form_data = $('#addbookform').serialize();
                 console.log(form_data);
                    $.ajax({
                        url: '{{url_for('auth.addbook')}}',
                        data: form_data,
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });
             });
            $("#myBooks").click(function(){
                $("#books_table").show();
                $("#users_table").hide();
            });
            $("#myUsers").click(function(){
                $("#users_table").show();
                $("#books_table").hide();
            });
            function Users(){
                $("#users_table").hide();
            }
            $("#addbtn").click(function(){
                $("#addbookbox").toggle();
            });

     });
    </script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>